div {
}

div {
}

#Whatis {
  background-image: ur);
}

#Anime {
  opacity: 0.7;
}

#Anime {
  padding: 40px;
}

#Anime {
  text-align: center;
  padding: 40px;
}

.jumbotron {
  opacity: 0.79;
}

.jumbotron {
  border-radius: 40px;
  padding: 40px;
  margin: 0 auto;
  max-width: 880px;
}

.site-section {
  text-align: center;
  padding: 40px;
  max-width: 880px;
}

.fa.fa-star.addI {
  font-size: 40px;
}

div {
}

div {
}

.opciones {
  margin-bottom: 70px;
}

